img {
    padding-right: 1rem;
    width: auto;
    height: auto;
  }
  
  .topnav {
    overflow: hidden;
    margin: 3.5%;
  }
  .header-logo {
      float: left;
  }
  .main-navbar {
      float: right;
  }
  .topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 12px 12px;
    margin: 5px;
    text-decoration: none;
    font-size: 20px;
    font-family: Roboto, sans-serif;
  }
  
  .topnav a:hover {
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 15px;
    text-decoration: underline;
  }
  
  .topnav a.active {
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 15px;
  }
  
  .topnav .icon {
    display: none;
  }